/* Kommentarfeld im CSS */


/* W3.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */

.container_header {
    display: block;
    padding: 16px;
    padding-bottom: 16px;
    background-color: #2196F3;
    align: center;
    vertical-align: middle;
    width: 70%;
}

.headline {
    margin: 16px;
    font-size: 64px;
    color: white;
    vertical-align: top;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

.subheadline {
    margin: 16px;
    font-size:24px;
    text-align: center;
    color: white;
    padding-bottom: 0px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.container_menu {
    margin: 0px;
    content: "";
    display: table;
    clear: both;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #2196F3;
    text-align: left;
    font-size: 18px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width: 100%;
    overflow: hidden;
    box-sizing: content-box;
    position: bottom;
    display: block;
}

}
.button_menu {
    white-space: normal;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-sizing: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.container_text {
    display: block;
    margin: 0px;
    width: 70%;
    align: center;
    vertical-align: middle;
}

.table {
    border: 1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    display: table;
    box-sizing: inherit;
    color: #000 !important;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 24px;
    box-sizing: 66%;
    overflow: hidden;
    table-align: center;
}
th {
    border: 1px solid #000000
}
td {
    border: 1px solid #000000
}

.grey {
    color: #fff;
    background-color: #8c8c8c;
    box-sizing: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}