/* Kommentarfeld im CSS */


.container_header {
    display: block;
    padding: 16px;
    padding-bottom: 16px;
    background-color: #008CBA;
    align: center;
    vertical-align: middle;
    width: 900px;
}

.headline {
    margin: 16px;
    font-size: 64px;
    color: #e7e7e7;
    vertical-align: top;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

.subheadline {
    margin: 16px;
    font-size:24px;
    text-align: center;
    color: #e7e7e7;
    padding-bottom: 0px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.container_menu {
    padding: 16px;
    content: "";
    display: table;
    clear: both;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #008CBA;
    text-align: center;
    font-size: 18px !important;
    width: 900px;
    overflow: hidden;
    box-sizing: inherit;
    line-height: 1.5;
    position: bottom;
    display: block;
}

.button {
    white-space: normal;
    float: center;
    width: 100px;
    border: none;
    outline: none;
    display: inline-block;
    color: #000;
    background-color: #008CBA;
    padding: 12px 24px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-sizing: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.button:hover {
    background-color : #008CBA;
    color: #e7e7e7;
}

.container_text {
    display: block;
    margin: 0px;
    width: 900px;
    align: center;
    vertical-align: middle;
}

.table {
    border: 1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
    width: 900px;
    display: table;
    box-sizing: inherit;
    color: #000 !important;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 24px;
    box-sizing: 90%;
    overflow: hidden;
    table-align: center;
}

th {
    border: 1px solid #000000
}

td {
    border: 1px solid #000000
    float: center
}

.grey {
    color: #fff;
    background-color: #8c8c8c;
    box-sizing: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

