<HTML>
    <HEAD>
        <TITLE>Demö-Projäkt</TITLE>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://localhost/demo-projekt/assets/css/standard.css">
    </HEAD>
    <BODY>

    <!-- Header -->
        <header class="container_header">
          <h1 class="headline">DEMÖ Projäkt</h1>
          <h3 class="subheadline">Error</h3>
        </header>
    <!--Menu-->
        <TMPL_INCLUDE NAME="menu.tmpl">
    <!--Content-->
        <div class="container_text">
            <h1 class="headline">ERRÖR</h1>
            <h3 class="subheadline"> Something went wrong with your Request! </h3>
        </div>
    </BODY>
</HTML>