<HTML>
    <HEAD>
        <TITLE>Demo-Projekt</TITLE>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://localhost/demo-projekt/assets/css/standard.css">
    </HEAD>
    <BODY>

    <!-- Header -->
        <header class="container_header">
          <h1 class="headline">DEMO Projekt</h1>
          <h3 class="subheadline">Testview<TMPL_VAR NAME="View"></h3>
            <div class="container_menu">
                <!--<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-darkgrey"-->
                <!--href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>-->
                <a href="/localhost/workspace/demo-projekt/Templates/index.html" class="button_menu">Home</a>
                <a href="#" class="button_menu">Server</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Storage</a>
            </div>
        </header>

          <table class="table">
            <thead>
              <tr class="grey">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
              </tr>
            </thead>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
            <tr>
              <td>Adam</td>
              <td>Johnson</td>
              <td>67</td>
            </tr>
          </table>
        <!--</div>-->
