<HTML>
    <HEAD>
        <TITLE>Demö-Projäkt</TITLE>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://localhost/demo-projekt/assets/css/standard.css">
    </HEAD>
    <BODY>

    <!-- Header -->
        <header class="container_header">
          <h1 class="headline">Demo-Projekt</h1>
          <h3 class="subheadline">Home</h3>
        </header>
    <!--Menu-->
        <TMPL_INCLUDE NAME="menu.tmpl">
    <!--Content-->
        <div class="container_text">
            <h1 class="headline">Hallo Nutzer</h1>
            <h3 class="subheadline">Wähle dein Begehr!</h3>
        </div>
    </BODY>
</HTML>