
<div class="container_menu">
    <a href="/demo-projekt/index.pl" class="button">Home</a>
    <a href="/demo-projekt/index.pl/server/showall" class="button">Server</a>
    <a href="/demo-projekt/index.pl/storage/showall" class="button">Storage</a>
</div>
