
<div class="container_menu">
    <a href="/demo-projekt/index.pl" class="button_menu">Home</a>
    <a href="/demo-projekt/index.pl/server/showall" class="button_menu">Server</a>
    <a href="/demo-projekt/index.pl/storage/showall" class="button_menu">Storage</a>
</div>
